* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  user-select: none;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: url("https://img.freepik.com/free-photo/vintage-grungy-textured-paper-background_53876-103932.jpg?t=st=1716980323~exp=1716983923~hmac=ba1fe1ea7d0598c8155d5cf53a2a21e825a066b3ca6a731788b65e5ecca75289&w=740");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: contrast(85%);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.start-btn {
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 3px solid black;
}
.start-btn:hover {
  box-sizing: content-box;
  letter-spacing: 3px;
  font-size: 20px;
  border: none;
  border-bottom: 5px solid black;
  cursor: pointer;
}

.message {
  height: 30px;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(170, 170, 170, 0.3);
  cursor: default;
}

.grid-container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.board {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.active-board {
  --block-border: 3px dotted black;
}
.inactive-board {
  --block-border: 3px dotted grey;
}

.block {
  border: var(--block-border);
  border-right: none;
  border-bottom: none;
  /* border-style: ; */
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block:nth-child(10n) {
  border-right: var(--block-border);
}
.block:nth-child(n+91) {
  border-bottom: var(--block-border);
}
.block:hover {
  cursor: pointer;
  border: 3px solid black;
}
.block .sign {
  width: 80%;
  height: 80%;
  border-radius: 30%;
  pointer-events: none;
}
.attacked-block .sign {
  background-color: black;
}
.ship-block div {
  background-color: rgba(255, 0, 0, 0.349);
}
.sank-ship-block .sign {
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
}
.safe-block .sign {
  background-color: rgba(129, 129, 129, 0.822);
}
.fleet-sank-block .sign {
  background-color: rgba(175, 0, 0);
}
.floaty-block {
  aspect-ratio: 1 / 1;
}
.valid-floaty-ship {
  border: 3px solid green;
  background-color: rgba(0, 128, 0, 0.3);
}
.invalid-floaty-ship {
  border: 3px solid red;
  background-color: rgba(128, 0, 0, 0.3);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.footer .attribute {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.411);
}

.footer .reminder {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.514);
}
