* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.grid-container {
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.board {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}
.active-board {
  --block-border-color: black;
}
.inactive-board {
  --block-border-color: grey;
}

.block {
  border: 1px solid var(--block-border-color);
  aspect-ratio: 1 / 1;
}
.attacked-block {
  background-color: black;
}
.ship-block {
  background-color: rgba(255, 0, 0, 0.349);
}
.sank-ship-block {
  background-color: rgb(255, 0, 0);
}
.safe-block {
  background-color: rgb(104, 104, 104);
}
.fleet-sank-block {
  background-color: rgb(112, 0, 0);
}
.start-btn {
  height: 30px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
}
.floaty-block {
  aspect-ratio: 1 / 1;
}
.valid-floaty-ship {
  border: 3px solid green;
  background-color: rgba(0, 128, 0, 0.3);
}
.invalid-floaty-ship {
  border: 3px solid red; 
  background-color: rgba(128, 0, 0, 0.3);
}